

{% block title %}Connexion{% endblock %}

{% block body %}


<div class="container">

    <form action="{{ path('security_login') }}" method="post">
    <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    
    <h1 class="h3 mb-3 fw-normal">Se connecter</h1>


    <div class="form-floating">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    </div>

    <div class="form-floating">
      <input type="text" class="form-control" id="username" name="_username" placeholder="Gamaliel">
      <label for="username">Nom d'utilisateur</label>
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" id="password" name="_password" placeholder="Mot de passe">
      <label for="password">Mot de passe</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Se souvenir de moi
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Se connecter</button>
    <p class="mt-5 mb-3 text-body-secondary">© 2023</p>
  </form>
</div>
{% endblock %}
